:root {
  --bg-dark: #1f1f22;
  --panel: #efeffc;
  --primary: #2e44ff;
  --muted: #8b8f99;
  --text: #1d1d1f;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}


.main {
  width: 95%;
  height: 95%;
  background: var(--panel);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px 36px 36px;
}


.top-logo {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-logo img {
  height: 34px;
  /* ← единый размер */
  width: auto;
  display: block;
}


.card-auth {
  width: 380px;
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
}


.card-auth h4 {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.subtext {
  margin-top: 6px;
  margin-bottom: 22px;
  font-size: 13px;
  text-align: center;
  color: var(--muted);
}


.form-label-custom {
  display: block;
  margin-bottom: 6px;
  margin-top: 14px;
  font-size: 13px;
  font-weight: 600;
  color: var(--text);
}

.form-control {
  width: 100%;
  height: 46px;
  padding: 10px 14px;
  border-radius: 18px;
  border: 1.5px solid rgba(46, 68, 255, 0.12);
  background: #fbfbff;
  font-size: 14px;
}

.form-control:focus {
  outline: none;
  border-color: var(--primary);
  background: #fff;
}


.btn-primary-custom,
.btn-outline-custom {
  width: 100%;
  height: 48px;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 26px;
  font-size: 14px;
}

.btn-primary-custom {
  background: var(--primary);
  border: none;
  color: #fff;
}

.btn-primary-custom:hover {
  opacity: 0.9;
}

.btn-outline-custom {
  margin-top: 12px;
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-outline-custom:hover {
  background: rgba(46, 68, 255, 0.05);
}