* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #1E1F26;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 95%;
    height: 95%;
    max-width: 1400px;
    background: #f3f3ff;
    backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .07);
    cursor: pointer;
    transition: .2s;
}

.card:hover {
    transform: translateY(-4px);
}

.card img {
    width: 190px;
    margin-bottom: 12px;
}

.card p {
    font-size: 16px;
    font-weight: 600;
}


.card a {
    display: block;
    margin-top: 8px;

    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}


.production-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "c1 c2 c3"
        "c1 c4 c4";
}

.production-card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .07);
}

.production-card:nth-child(1) {
    grid-area: c1;
    min-height: 280px;
}

.production-card:nth-child(2) {
    grid-area: c2;
    min-height: 140px;
}

.production-card:nth-child(3) {
    grid-area: c3;
    min-height: 140px;
}

.production-card:nth-child(4) {
    grid-area: c4;
    min-height: 140px;
}

